<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some titele...</title>
</head>
<body>

<!--
Cинтаксис языка шаблонов использует 4 конструкцииЖ
1) переменные: {{ test_key }}
2) теги:
    - это логика к примеру {% for %}, {% if %}, {% csrf_token %}, {% elif %}{% endif %}.. - более подробно в 004_(Presentation-templates).pdf
    - {% debug %}, для дебагинга
    - {% include "foo/bar.html" %} используется для того что бы загрузить один шаблон в другой...
     например в главную страницу мы хотим подгрузить какой-то текст(цельный уже готовый блок). при подключении будет использоваться контекст главного шаблона
     - наследование шаблонов:
        --- {% block block_name %} ... {% endblock %} - ЗАДАЕТ БЛОК КОТОРЫЙ МОЖЕТ БЫТЬ НАСЛЕДОВАН.  т.е. родителя наследования. как правило block_name - это header или footer
        --- {% extends "base.html" %} ... {% endblock %} - НАСЛЕДУЕТ блок, т.е. он - дочерний блок. если текст блока не переопределен, то будет использовать текст родительского блока
- фильтры: применяются на переменных и вызывает метод у его значения. Например:
        context = {'test_key': 'string started from lowercase words'} -  и мы хотим что каждая буква была заглавная тогда применить фильтр этой переменной
        {{ test_key|title }} - и значение будет уже 'String Started From Lowercase Words'
        {{ my_date|date:"Y-m-d" }}
        {{ value|default:"nothing" }} - если значение пришло пустое(False, None, "", 0)
        {{ value:dictsort:"name" }} - можно отсортировать значения по ключу - более подробно в 004_(Presentation-templates).pdf - пример использования фильтров 1
            [{'name':'zed'},{'name':'andrew'}] - жно вложение словари в словарей, таплы и т.п. в презентации есть примеры
        + есть деление на остаток, можно его условие if  бросать divisiblebly
        + floatformat - округлить число до какого-то знака, если дробная часть = 0, то она не выводится
        + random - возвращает случайный элемент из списка
        + linenumbers - нумериует эелементы по порядку
- комментарии: {% comment "some comet" %} ... also possible comment {% endcomment %}
-->

<h1>value for context1 + {{ test_key }}</h1>
<h2>value for context2</h2>
<h3>value for context3</h3>

</body>
</html>